[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
celery = {extras = ["redis"], version = "*"}
drf-spectacular = "*"
django-prometheus = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
celery-types = "*"

[requires]
python_version = "3.10"

[scripts]
setup = "bash -c 'cp compose/local/.env-sample compose/local/.env && cp compose/prod/.env-sample compose/prod/.env && pipenv install --dev && pipenv run pre-commit install'"
compose = "docker-compose up"
compose-down = "docker-compose down"
compose-run = "docker-compose exec api"
compose-prod = "docker-compose -f docker-compose.prod.yml up"
